#box{
    width: 100%;
}
.head{
    width: 100%;
    height: 0.9rem;
    /* background: wheat; */
}
.head-title{
    width: 100%;
    height: 0.47rem;
    background: #262626;
    border-bottom: 0.02rem solid #d1af67;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 0.75rem;
    height: 0.15rem;
    /* background: plum; */
    font-size: 0;
}
.logo img{
    width: 100%;
}
.head-title .wbiao{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}
.icon-a-return{
    background: url(../img2/sprite.png) no-repeat 0 0;
    background-size: 98px 98px;
    width: 0.44rem;
    height: 0.44rem;
}
.text{
    position: absolute;
    left: 0.34rem;
    top: 0;
    width: 0.5rem;
    font-size: 0.14rem;
    color: #fff;
    line-height: 0.44rem;
}
.nav{
    width: 100%;
    height: 0.43rem;
    /* background: pink; */
    display: flex;
    align-items: center;
    overflow-x: scroll;
}
/* 取消滚动条 */
.nav::-webkit-scrollbar { width: 0 !important;display: none;}
.nav-content{
    width: 5.77rem;
    height: 0.168rem;
    /* background: chartreuse; */
}
.nav-c-t{
    font-size: 0.13rem;
    /* background: chocolate; */
    width: 0.72rem;
    height: 100%;
    text-align: center;
    font-weight: bold;
}
.banner{
    width: 100%;
    height: 2.66rem;
    background: #f1f1f1;
    padding: 0.1rem 0;
}
.banner img{
    width: 100%;
    border-radius: 0.1rem;
}
.modular{
    width: 100%;
    height: 1.37rem;
    background: skyblue;
}